.input-group {
  margin-bottom: 15px;
  ion-label {
    color: #4caf50;
    font-weight: 500;
  }
  ion-input {
    border: 1px solid #eee;
    border-radius: 12px;
    padding: 8px;
    background-color: #fff;
  }
}

.input-row {
  display: flex;
  gap: 15px;
  margin-bottom: 15px;

  .input-group {
    flex: 1;
  }
}

.logo-dot {
  width: 10px;
  height: 10px;
  background-color: #4caf50;
  border-radius: 50%;
  margin-right: 8px;
}
