ion-accordion-group {
  margin-top: 20px;
  ion-item {
    font-weight: 500;
    color: #333;
  }

  .ion-padding {
    font-size: 14px;
    color: #555;
  }
}

.logo-dot {
  width: 10px;
  height: 10px;
  background-color: #4caf50;
  border-radius: 50%;
  margin-right: 8px;
}